#abledom-report {
  bottom: 20px;
  display: flex;
  flex-direction: column;
  left: 10px;
  max-height: 80%;
  max-width: 60%;
  padding: 4px 8px;
  position: fixed;
  z-index: 100500;
}

#abledom-report :focus-visible {
  outline: 3px solid red;
  mix-blend-mode: difference;
}

#abledom-report.abledom-align-left {
  left: 10px;
  right: auto;
}

#abledom-report.abledom-align-right {
  left: auto;
  right: 10px;
}

#abledom-report.abledom-align-bottom {
  bottom: 20px;
  top: auto;
}

#abledom-report.abledom-align-top {
  /* flex-direction: column-reverse; */
  bottom: auto;
  top: 10px;
}

.abledom-menu-container {
  backdrop-filter: blur(3px);
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(127, 127, 127, 0.5);
  display: inline-block;
  margin: 2px auto 2px 0;
}

#abledom-report.abledom-align-right .abledom-menu-container {
  margin: 2px 0 2px auto;
}

.abledom-menu {
  background-color: rgba(140, 10, 121, 0.7);
  border-radius: 8px;
  color: white;
  display: inline flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  padding: 4px;
}

.abledom-menu .issues-count {
  margin: 0 8px;
  display: inline-block;
}

.abledom-menu .button {
  all: unset;
  color: #000;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(200, 200, 200, 1) 100%
  );
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  line-height: 0px;
  margin-right: 4px;
  max-height: 26px;
  padding: 2px;
  text-decoration: none;
}

.abledom-menu .align-button {
  border-right-color: rgba(0, 0, 0, 0.4);
  border-radius: 0;
  margin: 0;
}

.abledom-menu .align-button:active,
#abledom-report .pressed {
  background: linear-gradient(
    180deg,
    rgba(130, 130, 130, 1) 0%,
    rgba(180, 180, 180, 1) 100%
  );
}

.abledom-menu .align-button-first {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-left: 8px;
}
.abledom-menu .align-button-last {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right-color: rgba(255, 255, 255, 0.4);
}

.abledom-issues-container {
  overflow: auto;
  max-height: calc(100vh - 100px);
}

#abledom-report.abledom-align-right .abledom-issues-container {
  text-align: right;
}

.abledom-issue-container {
  backdrop-filter: blur(3px);
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(127, 127, 127, 0.5);
  display: inline-flex;
  margin: 2px 0;
}

.abledom-issue {
  background-color: rgba(164, 2, 2, 0.7);
  border-radius: 8px;
  color: white;
  display: inline flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  padding: 4px;
}
.abledom-issue_warning {
  background-color: rgba(163, 82, 1, 0.7);
}
.abledom-issue_info {
  background-color: rgba(0, 0, 255, 0.7);
}

.abledom-issue .button {
  all: unset;
  color: #000;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(200, 200, 200, 1) 100%
  );
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  line-height: 0px;
  margin-right: 4px;
  max-height: 26px;
  padding: 2px;
  text-decoration: none;
}

.abledom-issue .button:hover {
  opacity: 0.7;
}

.abledom-issue .button.close {
  background: none;
  border-color: transparent;
  color: #fff;
  margin: 0;
}

.abledom-highlight {
  background-color: yellow;
  box-sizing: border-box;
  display: none;
  opacity: 0.6;
  position: fixed;
  z-index: 100499;
}

.abledom-highlight-border1 {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  box-sizing: border-box;
  position: absolute;
  top: -2px;
  width: calc(100% + 20px);
  height: calc(100% + 4px);
  margin: 0 -10px;
}

.abledom-highlight-border2 {
  border-left: 2px solid red;
  border-right: 2px solid red;
  box-sizing: border-box;
  position: absolute;
  width: calc(100% + 4px);
  left: -2px;
  height: calc(100% + 20px);
  margin: -10px 0;
}
